.main-container{
    width: 320px;
    border:1px solid white;
    color: rgb(24, 2, 2);
    padding: 12px;
    background:#f7aeed;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #630A10;
    margin-top: 70px;
}
.main-container p{
    font-size: 15px;
    color: rgb(29, 1, 1);
    font-weight: 600;
}
.main-container img{
    box-shadow: 0px 0px 3px #fff;
    border-radius: 10px;
    
}